<div class="container-fluid">
  <form action="">
    <input class="form-control form-control-lg userform" name="todoInput" #todoInput type="text" placeholder="Add your Todo List..."
      aria-label=".form-control-lg example">
      <button type="submit" (click)="postedTodos(todoInput.value);" 
        id="addBtn" class="btn btn-outline-dark">
        <i class="fa fa-solid fa-plus"></i></button>
      <button type="submit" id="deleteBtn" class="btn btn-outline-dark">
        <i class="fa fa-solid fa-trash"></i></button>
  </form>

  <div class="lists">
    <ul id="showlists"></ul>
  </div>

  <div class="api-todos">
    <ul id="api-list" *ngFor="let todo of todos">
      <li id="{{todo.id}}">{{todo.todo}} {{todo.id}} 
        <button type="submit" (click)="deletedTodos(todo.id)" id="deleteBtn" class="btn btn-outline-dark">
          <i class="fa fa-solid fa-trash"></i></button>
        <button type="submit" class="btn btn-outline-dark">
          <i class="fa fa-solid fa-pencil"></i></button>
      </li>
    </ul>
  
  </div>

</div>
