<div class="container-fluid">
  <form action="">
    <input class="form-control form-control-lg userform" name="todoInput" id="todoInput" type="text" placeholder="Add your Todo List..."
      aria-label=".form-control-lg example">
      <button type="submit" id="addBtn" class="btn btn-outline-dark"><i class="fa fa-solid fa-plus"></i></button>
      <button type="submit" class="btn btn-outline-dark"><i class="fa fa-solid fa-trash"></i></button>
  </form>

  <div class="lists">
    <ul id="showlists"></ul>
  </div>
</div>
